/* Big screens and so on */
.responsive-button {
	display:none;
	font-size: 3em;
	position: absolute;
	top: 0; left: 0;
	text-decoration: none;
	color: #FFF;
	background-color: #21435C;
	padding: 0 0.2em;
}
.responsive-button:hover {
	background-color: #A3351E;
}

/* Tablets */
@media (max-width: 1280px) {
	/* Off canvas menu */
	.responsive-button {
		display: block;
	}

	nav[role="menu-container"] {
		width: 0;
		height: 100%;
		overflow: hidden;
		position: fixed;
		top: 0; left: 0;
		padding: 0;
		background-color: white;
		border-right: solid 1px #21435C;

		ul li {
			width:100%;
		}
	}

	#menu-container:target {
		width: 200px;
	}

	#content {
		margin: 0;
		padding: 0 5dip 10dip 15dip;
	}

	#content h1 {
		margin-left: 2em;
	}

	/* Tiny twitter feed */
	.twitter-feed {
		float: right;
		margin: 5px 15px;
		width: 150px;
	}
}

/* Phones */
@media (max-width: 680px) {
	/* No twitter feed at all */
	.twitter-feed {
		display: none;
	}
}
